.sec-1 {
    background-image: url(../Assets/img/akan-datang-angka-bangunan-data-211122.jpg); sizes: "(max-width: 320px) 280px";
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    margin-left: -50px;
    position: relative;
}


.color:after {
    background-color: rgba(137, 139, 161, 0.6);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 720px;
    position: absolute;
}

.mold-img {
    width: 400px;
    position: absolute;
    z-index: 6;
    margin-left: 465px;
    margin-top: 20px;
    height: 200px;
}

@font-face {
    font-family: "Knewave";
    src: url(../Assets/Fontes/Knewave.ttf);
}

@font-face {
    font-family: "NewsCycle";
    src: url(../Assets/Fontes/NewsCycle-Regular.ttf);
    src: url(../Assets/Fontes/NewsCycle-Bold.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(../Assets/Fontes/LobsterTwo-BoldItalic.ttf);
}

.first-txt-box {
    width: 200px;
    display: block;
    padding-top: 30px;
}

.first-txt {
    margin-top: 20px;
    margin-left: 10px;
    font-family: "Lobster";
    font-size: 50px;
    color: white;
    position: absolute;
    z-index: 6;
}

.second-txt {
    font-family: "NewsCycle";
    font-size: 60px;
    width: 550px;
    margin-left: -160px;
    margin-top: 100px;
    color: white;
    position: absolute;
    z-index: 6;
}

.call-read {
    font-family: "Knewave";
    font-size: 45px;
    width: 200px;
    margin-top: 50px;
}

.alinha {
    width: 400px;
    background-color: orangered;
    margin-bottom: 70px;
}

.apresent-txt {
    width: 650px;
    margin-left: 50px;
    margin-bottom: 75px;
    font-family: "NewsCycle";
    font-size: 22px;
}

.stacks {
    margin-left: 55%;
}

.stacks-txt {
    font-family: "Knewave";
    font-size: 38px;
}

.stacks-barra {
    margin-left: 55%;
    margin-bottom: 50px;
    width: 500px;
    background-color: blue;
}

.Knewaves {
    font-family: "Knewave";
}

.News {
    font-family: "NewsCycle";
    margin-bottom: 50px;
}

.stacks-use {
    margin-top: 50px;
}

.tam-img {
    width: 100px;
    height: 100px;
}

.spaced-left {
    padding-left: 100px;
}

.program-txt {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
}

h2.program-txt {
    margin-left: 15px;
}

h3.program-txt {
    margin-left: 30px;
}

h4.program-txt {
    margin-left: 10px;
}

.color-barra-blue {
    background-color: blue;
    width: 1150px;
}

.color-barra-orange {
    background-color: orangered;
    width: 1150px;
}

.-bot {
    margin-bottom: 0px;
}

footer {
    background-image: url(../Assets/img/fundo-footer.jpg);
    padding-top: 25px;
    padding-bottom: 1%;
    margin-left: -150px;
}

.foot-txt {
    margin-bottom: 25px;
    width: 420px;
    color: white;
    margin-left: 38%;
}

.second-txt-foot {
    width: 400px;
    font-size: 25px;
    color: whitesmoke;
    margin-left: 38%;
}

.foot-img {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 7px;
}

.thirt-text {
    font-size: 18px;
    width: 400px;
    color: whitesmoke;
    margin-bottom: 0px;
    margin-left: 25%;
}

@media only screen and (min-device-width: 1920px) {
    .sec-1 {
        height: 900px;
    }
    .color:after {
        height: 900px;
    }
    .mold-img {
        width: 600px !important;
        position: absolute;
        z-index: 6;
        margin-left: 35% !important;
        margin-top: 30px;
        height: 243px;
    }
    .text-center {
        text-align: center!important;
        font-size: 40px;
    }
    .first-txt {
        font-size: 65px;
        margin-left: -30px;
    }
    footer {
        background-repeat: no-repeat;
        margin-left: 150px;
        padding-left: 0px
    }
    .back-foot {
        background-color: rgb(23, 34, 64);
    }
    .apresent-txt {
        width: 800px;
    }
    .foot-txt {
        margin-left: 30%;
    }
    .second-txt-foot {
        width: 400px;
        font-size: 25px;
        color: whitesmoke;
        margin-left: 30%;
    }
    .thirt-text {
        margin-left: 25%;
    }
}

@media only screen and (max-device-width: 1440px) {
    .mold-img {
        margin-left: 36%;
    }
}

@media only screen and (max-device-width: 1024px) {
    .sec-1 {
        height: 768px;
        margin-left: -100px;
    }
    .color:after {
        height: 768px;
    }
    .mold-img {
        margin-left: 35%;
    }
    .first-txt {
        margin-left: 10px;
    }
    .color-barra-blue {
        width: 1000px;
    }
    .color-barra-orange {
        width: 1000px;
    }
    .stacks-barra {
        width: 450px;
    }
    footer {
        margin-left: -250px;
    }
    .thirt-text {
        margin-left: 35%;
    }
    .foot-txt {
        margin-left: 45%;
    }
    .second-txt-foot {
        width: 400px;
        font-size: 25px;
        color: whitesmoke;
        margin-left: 45%;
    }
}

@media only screen and (max-device-width: 768px){
    .sec-1 {
        height: 768px;
        margin-left: -222px;
    }
    .mold-img {
        margin-left: 40%;
    }
    .first-txt {
        margin-left: 90px;
    }
    .second-txt {
        margin-left: -80px;
    }
    .stacks-barra{
        width: 300px;
    }
    .color-barra-blue {
        width: 700px;
    }
    .color-barra-orange {
        width: 700px;
    }
}

@media only screen and (max-device-width: 425px) {
    sec-1 {
        height: 720px;
        padding-left: -500px;
        clip : rect(100px, 280px, 160px, 100px);
    }
    .mold-img {
        margin-left: 170px;
        height: 200px;
        width: 300px;
    }
    .first-txt{
        margin-left: 50px;
    }
    .text-center {
        margin-left: 70px;
    }
    .apresent-txt {
        width: 300px;
    }
    .alinha {
        width: 100px;
    }
    .color-barra-blue {
        background-color: blue;
        width: 280px;
        margin-left: 20px;
    }
    .color-barra-orange {
        background-color: orangered;
        width: 280px;
        margin-left: 20px;
    }
    .stacks-txt {
        font-size: 22px;
    }
    .stacks-barra {
        width: 100px;
    }
    .tam-img {
        width: 50px;
    }
    .spaced-left {
        padding-left: 0px;
    }
    .program-txt {
        margin-left: -20px;
        font-size: 13px;
    }
    h4.program-txt {
        margin-left: -5px;
    }
    .foot-txt {
        font-size: 23px;
    }
    .foot-img {
        width: 25px;
    }
    .thirt-text {
        padding-left: 25px;
    }   
}
@media only screen and (max-device-width: 320px) {
    .mold-img {
        margin-left: 115px;
        height: 200px;
        width: 290px;
    }
    .thirt-text {
        padding-left: 60px;
        width: 310px;
    }
}
